@charset "UTF-8";

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgba(128, 128, 128, 0.514);
}

.header {
    text-align: center;
}

.section {
    margin: 1rem auto;
    width: 200px;
    background-color: rgba(209, 209, 209, 0.514);
    padding: 1rem 10px;
    text-align: center;
}

.div img {
    padding-top: 10px;
}

.footer {
    text-align: center;
}